openapi: 3.2.0
info:
  version: 3.0.0
  title: AML API V3 Risk Rules API
  description: '# Introduction

    **Welcome to the Elliptic API Documentation**


    This version of the API is currently only used to interrogate and manage your risk rules.'
servers:
- url: https://aml-api.elliptic.co/v3
  description: Production
security:
- bearer: []
- apiKey: []
  signature: []
  timestamp: []
tags:
- name: Risk Rules
  description: Manage risk rules. Currently the same risk rules are used for Navigator and Lens
paths:
  /risk_rules:
    get:
      tags:
      - Risk Rules
      summary: Get team's risk rules
      description: Get the risk rules for your team
      parameters:
      - in: query
        name: include_id_map
        schema:
          type: boolean
        required: false
        description: Whether or not to include an id_map in response
      responses:
        '200':
          description: Rule objects
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    risk_rules:
                      type: array
                      items:
                        $ref: '#/components/schemas/RiskRule'
                - type: object
                  properties:
                    risk_rules:
                      type: array
                      items:
                        $ref: '#/components/schemas/RiskRule'
                    id_map:
                      type: object
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: getRiskRules
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        name:
          type: string
          example: GenericErrorName
        message:
          type: string
          example: Something bad happened.
    ForbiddenError:
      type: object
      properties:
        name:
          type: string
          example: ForbiddenError
        message:
          type: string
          example: You do not have enough privilege to access this path.
    RiskRule:
      title: RiskRule
      type: object
      description: a single risk rule
      properties:
        id:
          description: UUIDv4 identifier of the rule
          type: string
          format: UUIDv4
          example: b7535048-76f8-4f60-bdd3-9d659298f9e7
        history_id:
          description: UUIDv4 identifier of the first version of the rule. If the rule has never been updated, will be equal to id
          type: string
          format: UUIDv4
          example: b7535048-76f8-4f60-bdd3-9d659298f9e7
        name:
          description: the name of the rule
          type: string
          minLength: 1
          maxLength: 100
          example: illicit activities
        version:
          description: the version of the rule
          type: number
          example: 3
        is_current:
          description: flag for whether the rule is in use or not
          type: boolean
          example: true
        created_at:
          description: the date when the rule was created
          type: string
          format: date-time
          example: '2015-05-13T10:36:21.000Z'
        application_criteria:
          description: object containing criteria for applying the given rule
          type: object
          example:
            direction:
              forwards: null
        trigger_criteria:
          description: object containing mongo-style statements determining how the risk rule is triggered
          type: object
          example:
            $or:
            - label_id:
                $in:
                - a3535022-76f8-4f60-bdd3-9d659298f3b5
        scoring:
          description: object containing the rule's scoring method and options (min_score, max_score, etc)
          type: object
          example:
            method: linear
            options:
              property: percentage
              min_threshold: 0
              max_threshold: 100
              min_score: 10
              max_score: 10
        draft_rule_id:
          description: UUIDv4 identifier of the draft rule
          format: UUIDv4
          example: b7535048-76f8-4f60-bdd3-9d659298f9e7
    UnauthorizedError:
      type: string
      example: Unauthorized
  responses:
    '500':
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    '403':
      description: Not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
  securitySchemes:
    bearer:
      description: Bearer Authentication
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      description: API Key
      type: apiKey
      in: header
      name: x-access-key
    signature:
      description: (Request Time, HTTP Method, Lowercase Path, Request Payload) signed with API Secret
      type: apiKey
      in: header
      name: x-access-sign
    timestamp:
      type: apiKey
      in: header
      name: x-access-timestamp
x-tagGroups:
- name: Navigator
  tags:
  - Risk Rules
- name: Lens
  tags:
  - Risk Rules
