openapi: 3.2.0
info:
  version: 2.0.0
  title: AML API V2 Users API
  description: '# Introduction

    **Welcome to the Elliptic API Documentation**


    In its simplest form, the Elliptic API allows you to submit batches of transactions programmatically, without human intervention.'
servers:
- url: https://aml-api.elliptic.co/v2
  description: Production
security:
- bearer: []
- apiKey: []
  signature: []
  timestamp: []
tags:
- name: Users
  description: Manage users
paths:
  /users:
    get:
      tags:
      - Users
      summary: Returns a list of users
      description: Returns a list of users in your team.
      responses:
        '200':
          description: Successful users response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: getUsers
      x-operation-id-source: derived
components:
  schemas:
    BadRequestError:
      type: object
      properties:
        name:
          type: string
          example: BadRequestError
        message:
          type: string
          example: Invalid id parameter
    Error:
      type: object
      properties:
        name:
          type: string
          example: GenericErrorName
        message:
          type: string
          example: Something bad happened.
    UsersResponse:
      title: UsersResponse
      type: array
      items:
        type: object
        properties:
          id:
            description: Team User's UUIDv4 (unique for team & user)
            type: string
            format: UUIDv4
            example: 17535048-76f8-4f60-bdd3-9d659298f9e5
          updated_at:
            description: ISO date time with time zone (UTC) of when the User was last updated
            type: string
            format: date-time
            example: '2015-05-13T10:36:21.000Z'
          created_at:
            description: User's creation's ISO date time with time zone (UTC)
            type: string
            format: date-time
            example: '2015-05-13T10:36:21.000Z'
          team_id:
            description: Team's UUIDv4
            type: string
            format: UUIDv4
            example: b7535048-76f8-4f60-bdd3-9d659298f9e7
          user_id:
            description: User's UUIDv4
            type: string
            format: UUIDv4
            example: 67535048-76f9-4f61-bdd3-9d659298f9e4
          email:
            description: the email address of the User
            type: string
            example: foo_bar@elliptic.co
          first_name:
            description: the first name of the User
            type: string
            example: Foo
          last_name:
            description: the last name of the User
            type: string
            example: Bar
        required:
        - id
        - created_at
        - updated_at
        - team_id
        - user_id
        - email
        - first_name
        - last_name
        additionalProperties: false
    NotFoundError:
      type: object
      properties:
        name:
          type: string
          example: NotFoundError
        message:
          type: string
          example: Entity not found.
    ForbiddenError:
      type: object
      properties:
        name:
          type: string
          example: ForbiddenError
        message:
          type: string
          example: You do not have enough privilege to access this path.
    UnauthorizedError:
      type: string
      example: Unauthorized
  responses:
    '500':
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    '404':
      description: Resource item not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    '403':
      description: Not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
  securitySchemes:
    bearer:
      description: Bearer Authentication
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      description: API Key
      type: apiKey
      in: header
      name: x-access-key
    signature:
      description: (Request Time, HTTP Method, Lowercase Path, Request Payload) signed with API Secret
      type: apiKey
      in: header
      name: x-access-sign
    timestamp:
      type: apiKey
      in: header
      name: x-access-timestamp
x-tagGroups:
- name: Navigator
  tags:
  - Transaction Analyses
- name: Lens
  tags:
  - Wallet Analyses
- name: Workflow Management
  tags:
  - Customers
  - Transaction Workflow
- name: Account Management
  tags:
  - Users
- name: Asset Information
  tags:
  - Assets table
