openapi: 3.2.0
info:
  version: 2.0.0
  title: AML API V2 Assets API
  description: '# Introduction

    **Welcome to the Elliptic API Documentation**


    In its simplest form, the Elliptic API allows you to submit batches of transactions programmatically, without human intervention.'
servers:
- url: https://aml-api.elliptic.co/v2
  description: Production
security:
- bearer: []
- apiKey: []
  signature: []
  timestamp: []
tags:
- name: Assets
paths:
  /assets:
    get:
      tags:
      - Assets
      summary: Get supported assets
      description: Get list of all supported assets.
      responses:
        '200':
          description: Successful assets response
          content:
            application/json:
              schema:
                type: array
                description: Array of supported assets
                items:
                  description: Asset
                  type: object
                  properties:
                    ticker:
                      description: Asset ticker
                      type: string
                      example: BTC
                    blockchain:
                      description: Asset blockchain
                      type: string
                      example: bitcoin
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: getAssets
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        name:
          type: string
          example: GenericErrorName
        message:
          type: string
          example: Something bad happened.
    ForbiddenError:
      type: object
      properties:
        name:
          type: string
          example: ForbiddenError
        message:
          type: string
          example: You do not have enough privilege to access this path.
    UnauthorizedError:
      type: string
      example: Unauthorized
  responses:
    '500':
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    '403':
      description: Not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
  securitySchemes:
    bearer:
      description: Bearer Authentication
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      description: API Key
      type: apiKey
      in: header
      name: x-access-key
    signature:
      description: (Request Time, HTTP Method, Lowercase Path, Request Payload) signed with API Secret
      type: apiKey
      in: header
      name: x-access-sign
    timestamp:
      type: apiKey
      in: header
      name: x-access-timestamp
x-tagGroups:
- name: Navigator
  tags:
  - Transaction Analyses
- name: Lens
  tags:
  - Wallet Analyses
- name: Workflow Management
  tags:
  - Customers
  - Transaction Workflow
- name: Account Management
  tags:
  - Users
- name: Asset Information
  tags:
  - Assets table
