openapi: 3.2.0
info:
  version: 3.0.0
  title: AML API V3 Criteria API
  description: '# Introduction

    **Welcome to the Elliptic API Documentation**


    This version of the API is currently only used to interrogate and manage your risk rules.'
servers:
- url: https://aml-api.elliptic.co/v3
  description: Production
security:
- bearer: []
- apiKey: []
  signature: []
  timestamp: []
tags:
- name: Criteria
  description: Retrieve all criteria related to triggering risk rules
paths:
  /criteria/categories:
    get:
      tags:
      - Criteria
      summary: Get all current categories
      responses:
        '200':
          description: Array of Category objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Categories not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          $ref: '#/components/responses/500'
      operationId: getCriteriaCategories
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        name:
          type: string
          example: GenericErrorName
        message:
          type: string
          example: Something bad happened.
    Category:
      title: Category
      type: object
      properties:
        id:
          description: UUIDv4 identifier of the rule
          type: string
          format: UUIDv4
          example: b7535048-76f8-4f60-bdd3-9d659298f9e7
        history_id:
          description: UUIDv4 identifier of the first version of the category. If the category has never been updated, will be equal to id
          type: string
          format: UUIDv4
          example: b7535048-76f8-4f60-bdd3-9d659298f9e7
        name:
          description: the name of the category
          type: string
          minLength: 1
          maxLength: 100
          example: illicit activities
    NotFoundError:
      type: object
      properties:
        name:
          type: string
          example: NotFoundError
        message:
          type: string
          example: Entity not found.
    ForbiddenError:
      type: object
      properties:
        name:
          type: string
          example: ForbiddenError
        message:
          type: string
          example: You do not have enough privilege to access this path.
    UnauthorizedError:
      type: string
      example: Unauthorized
  responses:
    '500':
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    '403':
      description: Not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
  securitySchemes:
    bearer:
      description: Bearer Authentication
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      description: API Key
      type: apiKey
      in: header
      name: x-access-key
    signature:
      description: (Request Time, HTTP Method, Lowercase Path, Request Payload) signed with API Secret
      type: apiKey
      in: header
      name: x-access-sign
    timestamp:
      type: apiKey
      in: header
      name: x-access-timestamp
x-tagGroups:
- name: Navigator
  tags:
  - Risk Rules
- name: Lens
  tags:
  - Risk Rules
