openapi: 3.2.0
info:
  version: 2.0.0
  title: AML API V2 Count Analyses API
  description: '# Introduction

    **Welcome to the Elliptic API Documentation**


    In its simplest form, the Elliptic API allows you to submit batches of transactions programmatically, without human intervention.'
servers:
- url: https://aml-api.elliptic.co/v2
  description: Production
security:
- bearer: []
- apiKey: []
  signature: []
  timestamp: []
tags:
- name: Count Analyses
paths:
  /analyses/count:
    get:
      tags:
      - Count Analyses
      summary: Get count of all transaction analyses
      description: Get count of all analyses
      operationId: count
      parameters:
      - name: tx_time_before
        in: query
        description: filter out all customer transactions whose tx_time is <= the provided value (ISO8601 datetime)
        schema:
          type: string
          format: date-time
          minimum: 0
        example: '2030-02-26T14:33:34.787Z'
      - name: tx_time_after
        in: query
        description: filter out all customer transactions whose tx_time is >= the provided value (ISO8601 datetime)
        schema:
          type: string
          format: date-time
          minimum: 0
        example: '2010-02-26T14:33:34.787Z'
      - name: has_triggered_rule
        in: query
        description: filter by transactions based on whether they've triggered any rules
        schema:
          type: boolean
      - name: min_risk_score
        in: query
        description: minimum risk score
        schema:
          type: number
          format: float
          minimum: 0
          maximum: 10
      - name: max_risk_score
        in: query
        description: maximum risk score
        schema:
          type: number
          format: float
          minimum: 0
          maximum: 10
      - name: min_risk_score_change
        in: query
        description: minimum risk score change since last screening
        schema:
          type: number
          format: float
          minimum: -10
          maximum: 10
      - name: max_risk_score_change
        in: query
        description: maximum risk score change since last screening
        schema:
          type: number
          format: float
          minimum: -10
          maximum: 10
      - name: min_value
        in: query
        description: minimum value of the asset in its minor unit (satoshis, wei etc)
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: max_value
        in: query
        description: minimum value of the asset in its minor unit (satoshis, wei etc)
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: min_value_usd
        in: query
        description: minimum USD value
        schema:
          type: number
          format: float
          minimum: 0
      - name: max_value_usd
        in: query
        description: maximum USD value
        schema:
          type: number
          format: float
          minimum: 0
      - name: analysed_at_before
        in: query
        description: only return analysis that has been analysed before the given time (ISO8601 datetime)
        schema:
          type: string
          format: date-time
        example: '2030-02-26T14:33:34.787Z'
      - name: analysed_at_after
        in: query
        description: only return analysis that has been analysed after the given time (ISO8601 datetime)
        schema:
          type: string
          format: date-time
        example: '2010-02-26T14:33:34.787Z'
      - name: customer_reference
        in: query
        description: only return analysis whose customer reference matches the given string
        schema:
          type: string
          minLength: 1
      - name: customer_reference_contains
        in: query
        description: only return analysis whose customer reference contains the given string
        schema:
          type: string
          minLength: 1
      - name: workflow_status
        in: query
        description: only return analyses whose workflow status matches any of the given values. Accepts a single value or an array of values.
        schema:
          $ref: '#/paths/~1wallet/get/parameters/9/schema'
      - name: hash
        in: query
        description: filter customer transactions whose hash is equal to the given one (case insensitive)
        schema:
          type: string
      - name: hash_contains
        in: query
        description: filter customer transactions whose hash contains the given string (case insensitive)
        schema:
          type: string
      - name: address_hash
        in: query
        description: filter customer transactions whose address is equal to the given one (case insensitive)
        schema:
          type: string
      - name: address_hash_contains
        in: query
        description: filter customer transactions whose address contains the given string (case insensitive)
        schema:
          type: string
      - name: id
        in: query
        description: get only transactions with given ids
        schema:
          type: array
          items:
            type: string
            format: UUIDv4
      - name: coverage
        in: query
        description: return the transaction analyses for a certain coverage level
        schema:
          type: array
          items:
            type: string
            enum:
            - full
            - holistic
      - name: analysed_by
        in: query
        description: the ID of the actor who ran the query
        schema:
          type: string
          format: UUIDv4
      - name: customer_id
        in: query
        description: the ID of the customer this transaction is linked to
        schema:
          type: string
          format: UUIDv4
      - name: assigned_team_user_id
        in: query
        description: return transaction analyses that are assigned to the given team user ID(s). To get transaction analyses that are unassigned, include an empty string in your query. Multiple IDs can be provided as a comma-separated list.
        schema:
          type: array
          items:
            type: string
            format: NullableUUIDv4
      - name: process_status
        in: query
        description: return rows that are in any of the states specified in the array. Each element is one of (running, complete, error).
        schema:
          type: array
          items:
            type: string
            enum:
            - running
            - complete
            - error
      - name: risk_rules
        in: query
        description: return transactions that have triggered at least one of the specified risk_rules. To get transactions that have not triggered any rules, include empty string in your query. e.g. "?risk_rules=,f7c36274-ba55-4f6b-8d46-d8cbe97d7c32"
        schema:
          type: array
          items:
            type: string
            format: NullableUUIDv4
      - name: type
        in: query
        description: get only deposit or withdrawal analyses
        schema:
          type: string
          enum:
          - deposit
          - withdrawal
      - name: user_supplied_base58
        in: query
        description: if true, returns only transactions created by users that have provided a base58 (for BTC only). Otherwise, return those with provided output_indices.
        schema:
          type: boolean
      - name: asset
        in: query
        description: return only transaction that has been made on a particular asset or asset/blockchain combination
        schema:
          type: array
          items:
            type: string
      - name: screening_source
        in: query
        description: Indicates whether the screening was done via the Synchronous endpoint, Asynchronous endpoint, as part of the Automatic Rescreening feature or as a fallback system rescreening in case of error
        schema:
          type: array
          items:
            type: string
            enum:
            - sync
            - async
            - system_rescreen
            - automatic_rescreen
            - continuous_monitoring
      - name: subject_type
        in: query
        description: get only transaction or address analyses
        schema:
          type: string
          enum:
          - transaction
          - address
          default: transaction
      - name: predictive
        in: query
        description: get only Predictive transactions. Predictive transactions were analyzed too close to the tip of the blockchain, so the full picture of associated addresses might be incomplete.
        schema:
          type: boolean
      responses:
        '200':
          description: Count of transaction screenings
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Count/content/application~1json/schema'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    BadRequestError:
      type: object
      properties:
        name:
          type: string
          example: BadRequestError
        message:
          type: string
          example: Invalid id parameter
    Error:
      type: object
      properties:
        name:
          type: string
          example: GenericErrorName
        message:
          type: string
          example: Something bad happened.
    NotFoundError:
      type: object
      properties:
        name:
          type: string
          example: NotFoundError
        message:
          type: string
          example: Entity not found.
    ForbiddenError:
      type: object
      properties:
        name:
          type: string
          example: ForbiddenError
        message:
          type: string
          example: You do not have enough privilege to access this path.
    UnauthorizedError:
      type: string
      example: Unauthorized
  responses:
    Count:
      description: Count of analyses response
      content:
        application/json:
          schema:
            title: Count
            type: object
            description: count of screenings
            properties:
              count:
                description: count of screenings
                type: integer
                format: int64
                minimum: 0
                example: 500
            required:
            - count
            additionalProperties: false
    '500':
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    '404':
      description: Resource item not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    '403':
      description: Not authorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
  securitySchemes:
    bearer:
      description: Bearer Authentication
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      description: API Key
      type: apiKey
      in: header
      name: x-access-key
    signature:
      description: (Request Time, HTTP Method, Lowercase Path, Request Payload) signed with API Secret
      type: apiKey
      in: header
      name: x-access-sign
    timestamp:
      type: apiKey
      in: header
      name: x-access-timestamp
x-tagGroups:
- name: Navigator
  tags:
  - Transaction Analyses
- name: Lens
  tags:
  - Wallet Analyses
- name: Workflow Management
  tags:
  - Customers
  - Transaction Workflow
- name: Account Management
  tags:
  - Users
- name: Asset Information
  tags:
  - Assets table
