{"openapi":"3.0.0","paths":{"/v1/sanctions":{"get":{"operationId":"SanctionsController_getSanctionedAddresses","summary":"Get sanctioned addresses","parameters":[{"name":"page","required":false,"in":"query","description":"Specify the page number of the sanctions to be returned","example":1,"schema":{"minimum":1,"default":1,"type":"number"}},{"name":"size","required":false,"in":"query","description":"Specify the number of sanctions to be returned per page","example":50,"schema":{"minimum":1,"maximum":100,"default":50,"type":"number"}},{"name":"blockchain_compatibility","required":false,"in":"query","description":"Filters out sanctions based on the blockchains","example":["ethereum"],"schema":{"type":"array","items":{"type":"string","enum":["bitcoin","bitcoin_cash","dash","dogecoin","ethereum","litecoin","monero","ripple","tron","zcash"]}}},{"name":"sanction_status","required":false,"in":"query","description":"Filters the data to return the sanctions, or the sanctions that has since been removed","example":"sanctioned","schema":{"enum":["sanctioned","removed"],"type":"string"}},{"name":"created_at_from","required":false,"in":"query","description":"Returns the sanctions from the specified date to the current date","example":"2024-04-30T10:00:00Z","schema":{"format":"date-time","type":"string"}},{"name":"created_at_to","required":false,"in":"query","description":"Returns the sanctions from beginning until specified date","example":"2023-10-22T10:00:00Z","schema":{"format":"date-time","type":"string"}}],"responses":{"200":{"description":"Sanction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SanctionResponse"}}}}}}}},"info":{"title":"Sanctions API","description":"API which returns the sanctioned addresses","version":"1.0","contact":{}},"tags":[{"name":"sanctions","description":""}],"servers":[{"url":"https://sanctions-api.elliptic.co"}],"components":{"schemas":{"SanctionListItem":{"type":"object","properties":{"list":{"type":"string","description":"Specifies the list that the address has been sanctioned","example":"OFAC SDN"},"created_at":{"type":"string","description":"The date the address was sanctioned","example":"2024-03-26T00:00:00Z"},"removed_at":{"type":"object","description":"The date the sanctioned address was reverted/removed","example":"2024-03-28T00:00:00Z"}},"required":["list","created_at","removed_at"]},"Sanction":{"type":"object","properties":{"address":{"type":"string","description":"Sanctioned address hash","example":"TWBAPzpPiZarfVsY2BLXeaLhNHurn4wkWG"},"created_at":{"type":"string","description":"The date the sanctioned address was included in Elliptic database","example":"2024-03-26T00:00:00Z"},"removed_at":{"type":"object","description":"The date the sanctioned address was reverted/removed from Elliptic database","example":"2024-03-28T00:00:00Z"},"evm_compatible":{"type":"boolean","description":"Optional property specified if the address is EVM compatible","example":true},"sanction_status":{"type":"string","description":"Specifies if the address is currently sanctioned, or if the sanction has since been removed","example":"sanctioned","enum":["sanctioned","removed"]},"sanctions":{"description":"Specifies the list of sanctions for the address","example":[{"list":"OFAC SDN","created_at":"2024-02-20T00:00:00Z","removed_at":"2024-02-21T00:00:00Z"}],"type":"array","items":{"$ref":"#/components/schemas/SanctionListItem"}}},"required":["address","created_at","removed_at","sanction_status","sanctions"]},"SanctionResponse":{"type":"object","properties":{"data":{"description":"Specifies the paginated list of sanctions","example":[{"address":"0xf3701f445b6bdafedbca97d1e477357839e4120d","created_at":"2024-02-20T00:00:00Z","removed_at":"2024-02-21T00:00:00Z","evm_compatible":true,"sanction_status":"sanctioned","sanctions":[{"list":"OFAC SDN","created_at":"2024-02-20T00:00:00Z","removed_at":"2024-02-21T00:00:00Z"}]}],"type":"array","items":{"$ref":"#/components/schemas/Sanction"}},"page":{"type":"number","description":"Specifies the current page of sanctions data","example":1},"size":{"type":"number","description":"Specifies the number of sanctions returned per page","example":50},"total_pages":{"type":"number","description":"Specifies the total pages of sanctions","example":20},"total_items":{"type":"number","description":"Specifies the total sanctions matching the filter criteria","example":1000}},"required":["data","page","size","total_pages","total_items"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}